.venv
__pycache__
run.sh
test.md
.env
dell.txt
dell.sql
dell.sh
# Clickhouse local
clickhouse
# Data
datasets/*
!datasets/chinook.db

# Apache Superset
services/superset/data/

# Clickhouse
services/clickhouse/data/db/
services/clickhouse/data/log/

# PostgreSQL
services/postgres/db/

# JupyterLab
.ipynb_checkpoints

# Apache Airflow
services/airflow/logs/

# tmp
docker-compose.yaml_last
run2.sh