.venv
__pycache__
run.sh
test.md
.env
dell.txt
dell.sql

# Data
datasets/
!datasets/chinook.db

# Apache Superset
services/superset/data/

# Clickhouse
services/clickhouse/data/db/
services/clickhouse/data/log/

# PostgreSQL
services/postgres/db/

# JupyterLab
.ipynb_checkpoints